/* Main */
* {
    margin: 0 auto;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100dvh;
}

body {
    margin: 0;
}

a {
    color: #aaaaaa;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

a:hover {
    color: #aaaaaa;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    padding: 0.4em 2.3em;
    font-size: 1.2em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1755d1;
    cursor: pointer;
    transition: 0.25s;
}

button:hover {
    background-color: #1448b2;
}

.button-light {
    border: 1px solid #343434;
    border-radius: 8px;
    padding: 0.355em 2.255em;
    font-size: 1.2em;
    font-weight: 500;
    font-family: inherit;
    background-color: #ffffff;
    cursor: pointer;
    transition: 0.25s;
}

.button-light:hover {
    background-color: #343434;
    color: #ffffff;
}

.header-container {
    background-color: #fffa72;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    max-width: 720px;
}

.eggshell {
    background-color: #fffa72;
    background-image: url("./assets/eggshell-i.svg");
    background-repeat: repeat-x;
    background-position: bottom center;
    background-size: auto 2.5rem;
    height: 2.5rem;
    width: 100%;
}

.logo {
    margin-left: 0;
    padding: 0 1rem 0 1rem;
}

.label {
    margin-left: 1rem;
}

.stopwatch {
    margin-right: 1rem;
}

.empty-space {
    flex-grow: 1;
}

.title-container {
    margin: 0;
}

.title {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    max-width: 720px;
}

.title-text {
    margin-left: 1rem;
}

main {
    display: flex;
    margin: 0;
    flex-grow: 1;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2.5rem;
}

.buttons {
    text-align: center;
}

footer {
    background-color: #343434;
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8rem;
}

.footer-logo {
    margin-left: 1rem;
    width: 10rem;
}

.footer-text {
    margin-left: 6vw;
}

.footer-icons {
    margin-left: 6vw;
}