* {
    margin: 0 auto;
}

body {
    text-align: center;
}

a {
    color: #1755d1;
}

a:hover {
    color: #1755d1;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    padding: 0.4em 2.3em;
    font-size: 1.2em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1755d1;
    cursor: pointer;
    transition: 0.25s;
}

button:hover {
    background-color: #1448b2;
}

.header-container {
    background-color: #fffa72;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    max-width: 720px;
    padding-bottom: 1.3rem;
}

.eggshell {
    background-image: url("./assets/eggshell-i.svg");
    height: 3rem;
    background-repeat: repeat-x;
    background-color: #30ffff;
    border: 2px solid red;
    /* background-position: bottom; */
    /* background-size: auto 3rem; */
}

.logo {
    margin-left: 0;
    padding-right: 1rem;
}

.label {
    margin-left: 1.5rem;
}

.empty-space {
    flex-grow: 1;
}